<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693519792392-l64ldpoph4qbg8fld2v19ntt763c6qq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693519792392-l64ldpoph4qbg8fld2v19ntt763c6qq6</string>
	<key>API_KEY</key>
	<string>AIzaSyC6QqEa3SdQXHOunX_5i-qDbrApCHyL1AA</string>
	<key>GCM_SENDER_ID</key>
	<string>693519792392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongssup.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-86d5e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-86d5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693519792392:ios:37c16d81cf52f30abd94bd</string>
</dict>
</plist>